@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
.Logo {
  padding: 3rem;
  font-size: 2rem;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.redColor {
  color: red;
  text-align: center !important;
  margin-top: 20px;
  width: 100% !important;
}

.Logo a {
  color: black;
  text-decoration: none;
}
.questionContent {
  padding-top: 30px;
  max-width: 80%;
  margin: auto;
}
h1 {
  font-size: 33px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
}
.w90 {
  width: 90% !important;
}
.margin20 {
  margin-top: 20px !important;
}
.flexEvenly {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.arrowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.arrow {
  width: 38px;
  cursor: pointer;
  transform: rotate(180deg);
}
.nextSpan {
  background-color: #516efb;
  padding: 10px 33px;
  color: white;
  margin-left: 10px;
  border-radius: 13px;
  cursor: pointer;
  border: none;
}
.disablenextSpan {
  background-color: #dedede;
  padding: 10px 33px;
  color: black;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 13px;
  cursor: pointer;
}
.arrowDiv a {
  text-decoration: none;
}
.singleOption {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  font-family: ui-sans-serif;
  font-size: 22px;
  /* background-color: #516efb; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dedede;
}
.singleOptionActive {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #516efb;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 4px 7px 0px rgb(0 0 0 / 50%);
  -moz-box-shadow: -1px 4px 7px 0px rgb(0 0 0 / 50%);
  -webkit-box-shadow: -1px 4px 7px 0px rgb(0 0 0 / 50%);
}
.font25 {
  font-size: 25px !important;
}
.secondQuestiondisactive {
  color: gray;
}

.title {
  text-align: center;
}
.singleDivSummary {
  border-radius: 20px;
  cursor: pointer;
  color: white;
  padding: 24px 20px;
}
.singleDivSummary h3 {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
}

.answeStyle {
  color: gray;
  font-weight: 600;
  font-size: 17px;
  font-style: italic;
}
