*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containers {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.left-container {
  background-color: black;
  color: white;
  width: 30%;
  height: 100%;
}
.right-container {
  position: relative;
  background: white;
  height: 100%;
  width: 70vw;
}
.CenterContainer {
  position: absolute;
  top: 22vh;
  left: 15vw;
  height: 50vh;
  width: 40vw;
  background-image: url("../../Assets/Images/img1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}
.Logo {
  padding: 3rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.Info {
  display: flex;
  padding: 3rem;
  font-size: 1rem;
  position: absolute;
  bottom: 20px;
}
.Info span {
  text-decoration: none;
  margin-left: 1rem;
  color: white;
  cursor: pointer;
}
.Story {
  position: absolute;
  height: 40%;
  left: 30vw;
  top: 22vh;
}
.Story h1 {
  font-size: 6.4rem;
  margin-bottom: 2rem;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.Story p {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  padding-right: 20rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.link {
  text-decoration: none;
}
.Story .createOne {
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  width: max-content;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.Story .createOne a {
  color: black;
  text-decoration: none;
}

.Story .createOne:hover {
  box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
}

.menu-container {
  position: absolute;
  top: 3rem;
  right: 4rem;
  width: 50px;
  height: 45px;
}
.menu,
.menu::after,
.menu::before {
  width: 50px;
  height: 5px;
}
.menu {
  position: relative;
  transform: translateY(20px);
  background-color: black;
}
.menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  background-color: black;
}
.menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background-color: black;
}
.socialContainer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
.socialContainer ul {
  margin-right: 1rem;
  font-weight: 700;
  display: flex;
  font-family: "helvetica";
}
.socialContainer ul li {
  list-style: none;
  margin-left: 20px;
}
.socialContainer ul li a {
  text-decoration: none;
  color: black;
}
.first-block {
  position: absolute;
  width: 0%;
  height: 100vh;
  background: black;
  animation: go-left 4s ease-in-out forwards;
  left: 0;
}

@keyframes go-left {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@media all and (max-width: 1450px) {
  .containers {
    display: block;
  }
  .left-container {
    width: 100%;
    height: 15%;
  }
  .right-container {
    width: 100%;
    position: unset;
  }
  .Info {
    color: black;
  }
  .CenterContainer {
    display: none;
  }
  .menu,
  .menu::after,
  .menu::before {
    background-color: white;
  }
  .Story {
    height: 40%;
    left: 8vw;
  }
}

@media all and (max-width: 500px) {
  .Story h1 {
    font-size: 3.4rem;
  }
  .Story p {
    width: 90%;
    padding-right: 0rem;
  }
}
